@bg: black; // background
@c1: #fa0; // chart color
@c2: #0af; // active color



.skill {
  width: 300px;
  height: 300px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  background: @c1 linear-gradient(to right, @c1 50%, @c2 50%);
  color: @c2;
  border-radius: 50%;
  
  
  @keyframes spin {
    to {
      transform: rotate(180deg);
    }
  }
  
  @import "bourbon";
  
  @import url(//fonts.googleapis.com/css?family=Oswald:400);
  
  .chart {
    position: absolute;
    width: 450px;
    height: 450px;
    top: 50%;
    left: 50%;
    margin: -225px 0 0 -225px;
  }
  .doughnutTip {
    position: absolute;
    min-width: 30px;
    max-width: 300px;
    padding: 5px 15px;
    border-radius: 1px;
    background: #d5d5d5;
    color: green;
    font-size: 17px;
    text-shadow: 0 1px 0 #000;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.3;
    letter-spacing: .06em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    pointer-events: none;
    &::after {
        position: absolute;
        left: 50%;
        bottom: -6px;
        content: "";
        height: 0;
        margin: 0 0 0 -6px;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        border-top: 6px solid rgba(0,0,0,.7);
        line-height: 0;
    }
  }
  .doughnutSummary {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #d5d5d5;
    text-align: center;
    text-shadow: 0 -1px 0 #111;
    cursor: default;
  }
  .doughnutSummaryTitle {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -27%;
    font-size: 22px;
    letter-spacing: .06em;
  }
  .doughnutSummaryNumber {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -15%;
    font-size: 55px;
  }
  .chart path:hover { opacity: 0.65; }


  
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}