.page-1{
    height: 91%;
    width: 100%;
}


h1{
    font-style: bebas;
    color: white;
    text-align: center;
    
    vertical-align: middle;
}

#myName{
    font-family: 'Monoton', cursive;
    font-size: 400%;
    padding-top: 3cm;
}

#AboutMe-Heading, #Portfolio, #MySkills, #ContactMe, #certi-exp{
    font-family: 'Monoton', cursive;
}

#buttons{
    display: flex;
    justify-content: center; 
   
}

#summary{
    color: white;
    text-align: center;
    font-size: 200%;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 1.5cm;
}

#AboutMe-Heading{
    color:#0f97e0;
    text-align: center;
    font-size: 400%;
    padding-top: 1cm;
}

.page-2{
  //  background-image: url("/assets/images/white-background-vines.jpg");
      background-color: white;
      width: 100%;
      height: 100%;
}

#myImage:hover{
    box-shadow: #222 0.2em 0.2em 1em;
    
    -webkit-filter: grayscale(100%) 
            brightness(135%)
            contrast(120%);
    filter: grayscale(100%) 
            brightness(135%)
            contrast(120%);
    
    transition: filter 0.3s, box-shadow 0.3s;
    -webkit-transition: filter 0.3s, -webkit-filter 0.3s, box-shadow 0.3s;
  }
}


.img-circle{
  
    width: 25%;
    height: 30%;
    float: left;
}

#myImage{
    width: 40%;
    height: 80%;
   // border: wheat;
    border-width: 4px;
}

.AboutMe-image{
    padding-top: 2cm;
}

.Resume-buttons{
    padding-top: 2cm;
    padding-left: 18cm;
    
}

#ResumeButton-id{
    width: 80%;    
}

p{
    font-family: "Raleway";
    font-style: "Light Italic";
}

#AboutMe-para{
    font-size: 200%;
}




.page-3{
    background-image: url("../assets/images/1 (1).jpg");
    height: 100%;
    width: 100%;
}

#Portfolio{
    z-index: 1;
    color: black;
    font-size: 400%;
    padding-top: 1cm;
}

/* .images{

    padding-top: 1cm;
    border-radius: 50%;    
} */

/* #image1, #image2, #image3{
    /* padding-top: 2cm; */
    /* height: 100%;
    width: 100%; */
    /* padding-left: 8%; */
   /* border-radius: 50%; */


.container {
    padding: 2%;
    position: relative;
    width: 100%;
  }
  
  .image{
    display: block;
    width: 100%;
    height: auto;
    
  }
  
  .overlay {
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height:0%;
    transition: .5s ease;
    
  }
  
  .container:hover .overlay {
    bottom: 0;
    height: calc(100% - 16%);
    width: calc(100% - 12%);
    margin: 6%;

   
  }
  
  .text1 {
    
    width: 85%; 
    color: white;
    font-size: 16px;
    font-family: "Raleway";
    font-style: "Light Italic";
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

 .parent{
     display: flex;
     justify-content: space-around;
    
 }

 .port{
     padding-bottom: 8%;
 }

 #emp, #bank, #exam{
    font-family: "Raleway";
    font-style: "Light Italic";
 }

 .headi{
     padding-top: 5%;
 }

/* #image2{
    padding-top: 2cm;
    height: 30%;
    width: 30%;
  //  border-radius: 100%
  position: relative;
      left: 30%;
      padding-left: 5%;
     
}
#image3{
    padding-top: 2cm;
    height: 27%;
    width: 27.8%;
    padding-left: 5%;
} */

.items{
    left: 10%;
}

.page-4{
    
    background-image: url("../assets/images/black-background-1468370534d5s.jpg");
    height: 100%;
    width: 100%;    
}

#MySkills{
    color: orange;
    font-size: 400%;
    padding-top: 1cm;
    padding-bottom: 1cm;
}


#ContactMe{
    color: orangered;
    font-size: 400%;
    padding-top: 1cm;
}

#black{
   // visibility: hidden;
}

#resumeButton{
    top: 10%;
}

.firstDonut, .secondDonut{
    width : 100%;
    height: 100%;
}

.secondDonut{
    position: relative;
    left: 40%;
    bottom: 91%;
}

.firstDonut{
    position: relative;
    top: 8%;
  //  left: 10%;
}

.page-5{
    background-image: url("../assets/images/1190164-dark-blue-background-hd.jpg");
    height: 100%;
    width: 100%;
}

#certi-exp{
    color: yellowgreen;
    font-size: 400%;
    padding-top: 1cm;
    
}

#certi-pic, #celebal{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.internship{
    position: relative;
    left: 60%;
   // top: 6%;
    bottom: 32%;
}

.certificate{
    position: relative;
    top: 11%;
    left: 20%;
}

.certi-text, .internship-text{
    padding-top: 1cm;
    color: white;
}


.page-6{
    background-image: url("../assets/images/blackImage.jpg");
    height: 100%;
    width: 100%;
}

#nameField, #mailField{
     width: 35%;
     
}

#messageField{
    width: 42%;
}

.field error, .field{
    margin-left: 10%;
    padding-left: 10%;
} 

.ui form error{
    position: relative;
    padding-top: 6cm;
}

#submit{
    position: relative;
    left: 10%; 
}

.social-media{
    padding-left: 72%;
    /* position: relative; */
    /* top: -60%; */
    
}

label{
    color: white;
    font-family: "Raleway";
    font-style: "Light Italic";
}

#fb, #insta, #gp, #git, #lin{
    
    width: 70%;
}

.cgit,{
    padding-top: 2cm;

}

.cgp, .clin, .cfb, .cinsta, .cgit{
    padding-top: 1cm;
    /* padding-bottom: 1cm; */
}



body{
    position: relative;
}

.page-1, .page-2, .page-3, .page-4, .page-5, .page-6{
    position: relative;
}

a:link{
    color: white !important;
}
a:visited{
    color: white !important;
}
a:hover{
    color: white !important;
}
a:active{
    color: white !important;
}
